@model IEnumerable<Forum_SM.Models.ThreadPost>
    @{
    ViewBag.Title = "Trådar";
}

<nav>
    <ul class="menu">
        <li class="active"><a href="/Thread/IndexThread">HEM</a></li>
        <li ><a href="/Home/Index">SKAPA TRÅD</a></li>
        <li><a href="/Contact/Contact">KONTAKTA OSS</a></li>
        <li><a href="/Login/LoginPage">LOGGA IN</a></li>
    </ul>
</nav>
<div style="position:absolute; top: 15%; left: 33%; width: 500px;">
    @foreach (var post in Model)
    {
        <div>
            <div>
                
                @if (post.AuthorThread != null)
                {
                    <p style="font-size:150%">@post.AuthorThread.UserName</p>
                }
                @if (post.AuthorThread == null)
                {
                    <p style="font-size:120%">Anonym</p>
                }
            </div>
            <div>
                <p>@post.ThreadText</p>
            </div>
            <!--
            @if (ViewBag.User != null) 
            { 
               <div>
                   @using(Html.BeginForm("AddComment", "thread"))
                   {
                       <input type="hidden" name="postId" value="@post.id"/>
                       <textarea name="CommentText"></textarea>
                       <input type="submit"/>
                   }
               </div>
            }
            --> 
        </div>
        <hr />
    <br />
    }
</div>