
@{
    ViewBag.Title = "Kontakta oss";
}

<nav>
    <ul class="menu">
        <li><a href="/Thread/IndexThread">HEM</a></li>
        <li><a href="/Home/Index">SKAPA TRÅD</a></li>
        <li class="active"><a href="/Contact/Contact">KONTAKTA OSS</a></li>
        <li><a href="/Login/LoginPage">LOGGA IN</a></li>
    </ul>
</nav>

<div id="contact">
    <p>Vi heter Sebastian och Max och tillsammans har vi skapat detta forum som vi kallar "Forum SM".
    Hela sidan är ett skolprojekt och syftet med det hela var att lära sig hur man skapar ett forum genom Microsoft Visual Studio.
    <br/>
    <br/>
    Har ni frågor kan ni nå oss på mailen: forumsm@hotmail.com</p>
</div>

<div id="star-five"></div>

