@model Forum_SM.Models.ThreadPost
@{
    ViewBag.Title = "Lägg till tråd";
}
<nav>
    <ul class="menu">
        <li><a href="/Thread/IndexThread">HEM</a></li>
        <li class="active"><a href="/Home/Index">SKAPA TRÅD</a></li>
        <li><a href="/Contact/Contact">KONTAKTA OSS</a></li>
        <li><a href="/Login/LoginPage">LOGGA IN</a></li>
    </ul>
</nav>

@using (Html.BeginForm("SaveThreadPost", "Home"))
{
    <div id="textarea">@Html.TextAreaFor(x => x.ThreadText)</div>
    <input id="addthread" type="submit" value="Lägg till tråd" />
}


