@model IEnumerable<Forum_SM.Models.ThreadPost>
@{
    ViewBag.Title = "Skapa tråd";
}

<nav>
    <ul class="menu">
        <li><a href="/Thread/IndexThread">HEM</a></li>
        <li class="active"><a href="/Home/Index">SKAPA TRÅD</a></li>
        <li><a href="/Contact/Contact">KONTAKTA OSS</a></li>
        <li><a href="/Login/LoginPage">LOGGA IN</a></li>
    </ul>
</nav>

<div id="gubbe">
    <div id="huvud"></div>
    <div id="kropp"></div>
    <div id="arm"></div>
    <div id="benv"></div>
    <div id="benh"></div>
    <div id="bubbla"></div>
    <div id="triangelb"></div>
</div>

<p id="addtext">
    Att skapa en ny tråd ger dig möjliheten att skapa nya diskussioner och få fram de resultat du vill i forumet.
    Vill du skapa en ny tråd trycker du bara på länken här nedan!
</p>

@if (ViewBag.User != null)
{
    <div id="add">@Html.ActionLink("Lägg till tråd", "AddThreadPost")</div>
}
@if (ViewBag.User == null)
{ 
    <p id="krav">Du måste logga in för att kunna skapa en ny tråd!</p>
    <div id="gubbe">
    <div id="huvud"></div>
    <div id="kropp"></div>
    <div id="arm"></div>
    <div id="benv"></div>
    <div id="benh"></div>
    <div id="bubbla"></div>
    <div id="triangelb"></div>
    </div>
}
